pandas>=2.3.3,<3.0
requests
tradingview-datafeed
pyotp
smartapi-python
py5paisa
kiteconnect
yfinance
beautifulsoup4
urllib3
pytz
numpy>=2.3.3
numba>=0.64.0
llvmlite>=0.46.0
pandas-ta-classic
nsepython
jugaad-data
netifaces2
websocket-client
curl-cffi
httpx
